  html, body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  #renderCanvas {
    width: 100%;
    height: 100%;
  }

  #phase{
    position: absolute;
    left: 200px;
    top: 80px;
    color: white;
    font-size: xx-small;
  }

  #status{
    position: absolute;
    left: 200px;
    top: 100px;
    color: white;
    font-size: xx-small;
  }

  #story-name{
    position: absolute;
    left: 200px;
    top: 120px;
    color: white;
    font-size: xx-small;
  }

  .crosshair {
    position: absolute;
    left: 29%;
    top: 50%;
    width: 5px;
    height: 5px;
    background-color: white;
  }

  .crosshair-offset{
    left: auto;
    right: 29%;
  }